<div id="app">
    <h1 class="title">Excel To Json</h1>
    <div class="container">
        <ui-prop>
            <ui-label slot="label">Excel File</ui-label>
            <ui-file slot="content" type="file" id="excelAsset" extensions="xls,xlsx"></ui-file>
        </ui-prop>
        <ui-prop>
            <ui-label slot="label">Output Path</ui-label>
            <ui-file slot="content" type="directory" protocols="project" id="out" value="project://assets/"></ui-file>
        </ui-prop>
        <ui-prop>
            <ui-label slot="label">Output Name</ui-label>
            <ui-input slot="content" id="fileName" value="newData"></ui-input>
        </ui-prop>
        <ui-prop>
            <ui-label slot="label">Sheet Name</ui-label>
            <ui-input slot="content" placeholder="optional" id="sheetName" value=""></ui-input>
        </ui-prop>
        <ui-prop>
            <ui-label slot="label">Range</ui-label>
            <ui-input slot="content" placeholder="optional" id="range"></ui-input>
        </ui-prop>
        <ui-prop>
            <ui-label slot="label">Exclude Sheet Name</ui-label>
            <ui-input slot="content" placeholder="optional" id="exclude"></ui-input>
        </ui-prop>
        <ui-prop>
            <ui-label slot="label">Options</ui-label>
            <div slot="content">
                <ui-checkbox class="check-box" id="blankRow" value="true">Blank Row</ui-checkbox>
                <ui-checkbox class="check-box" id="blankCell" value="true">Blank Cell</ui-checkbox>
                <ui-checkbox class="check-box" id="useHeader" value="true">Use Header</ui-checkbox>
            </div>
        </ui-prop>
        <div class="footer">
            <ui-button id="submit" type="primary">Convert</ui-button>
        </div>
    </div>
</div>