#app {
    padding: 8px 16px;
}

.title {
    text-align: center;
    margin-bottom: 16px;
}

.container ui-prop ~ ui-prop {
    margin-top: 8px;
}

.footer {
    margin-top: 24px;
    display: flex;
    justify-content: center;
}
